@font-face {
  font-family: 'Montserrat'; /* El nombre que tú quieras darle */
  src: url('./assets/fonts/Montserrat-Normal.ttf') format('truetype'); /* La ruta exacta al archivo */
}

html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

/*Truco para que el padding no me desmonte todo*/
*, *::before, *::after {
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  /*Fondo degradado*/
  background-image: linear-gradient(180deg, #fa8095, #F58B24, #F0C85B);
}

/*Cabecera*/
header{
  display: grid;
  grid-template-columns: 4fr 6fr;
  align-items: center;
  width: 100%;
  min-height: 80px;
  background-color: #fa8095;
  padding: 10px 2%;

  /*Se comporta como un elemento normal hasta que el usuario hace scroll y se queda fijo*/
  position: sticky;
  /*Se queda pegado al techo de la pantalla*/
  top: 0;
  /*Sirve para controlar la profundidad, en capas del elemento, siempre va a estar por encima de los demas. Numero mayor = mas por encima esta*/
  z-index: 1000;
}

.logo{
  width: 125px;
}

header img{
  text-align: left;
  margin-left: 5%;
}

/*Botones*/
.botones-encabezado{
  display: flex;
  flex-direction: row;
  gap: 15px;
  word-wrap: break-word;
  justify-content: flex-end;

  margin-right: 5%;
}

.botones-encabezado button{
  height: auto;
  width: 100%;
  max-width: 150px;
  padding: 8px 5px;
  color: #222222;
  font-family: 'Montserrat';
  border-radius: 6px;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
}

.btn-idioma{
  border: 2px solid #222222;
  background-color: transparent;
}

.btn-registro{
  border: none;
  background-color: #F0C85B;
}

.btn-inicio-sesion{
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
}

.btn-registro:hover,
.btn-inicio-sesion:hover, 
.btn-idioma:hover {
    background-color: #ffffff;
}

/*Esto hace como que el boton se meta para dentro cuando haces click sobre el*/
.btn-registro:active, 
.btn-inicio-sesion:active, 
.btn-idioma:active {
    transform: scale(0.98);
}

/*Contenido pagina*/
.contenido-pagina{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-top: 8%;
    margin-bottom: 8%;
}

/*Contenedor del formulario*/
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #222222;
  background-color: #ffffff;
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.form-container h2 {
  margin-bottom: 8px;
  font-size: 24px;
}

.form-container p {
  font-size: 14px;
  margin-bottom: 24px;
  text-align: center;
}

a{
  color: #fa8095;
  font-weight:500;
}

/*Campos formulario*/
.form-group {
  margin-bottom: 30px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 14px;
}

.form-group input{
  width: 100%;
  padding: 12px;
  border: 1px solid #fa8095;
  border-radius: 6px;
  background-color: #fff;
  color: #333333;
  font-size: 15px;
  /*Para que el efecto sea suave, de rosa a azul*/
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/*Efecto al hacer clic en los campos*/
.form-group input:focus{
  outline: none;
  border-color: #4a90e2;
  box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.2);
}

.form-group-checkbox{
  display: flex;
  flex-direction: row;
  margin-bottom: 12%;
  gap: 10px;
}

.form-group-checkbox label{
  font-size: 14px;
}

.btn-registro-form{
  width: 100%;
  height: 45px;
  padding: 8px 5px;
  color: #ffffff;
  font-family: 'Montserrat';
  border-radius: 6px;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
  border: none;
  background-color: #fa8095;
}

.btn-registro-form:hover{
  background-color: rgba(250, 128, 149, 0.5);
  color: #222222;
}